@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.nav-container h2 {
  font-family: "Rubik Vinyl", cursive;
  padding: 1rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-items {
  padding: 0 1rem;
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
  font-size: large;
  padding: 10px;
  margin: 1rem;
  /* border: 1px solid black; */
  border-radius: 10px;
  cursor: pointer;
}

.nav-items:hover {
  background-color: #c0daf0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
