.form-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 25px;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

form label {
  text-align: left;
  padding: 10px 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 1000;
  margin-top: 1rem;
}

form input {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  font-size: 20px;
}

button {
  margin-top: 27px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

form h2 {
  text-align: center;
  padding: 10px;
  /* color: white; */
}

button:hover {
  background-color: rgb(192, 218, 240);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
